// breakpoint variables

$lg: 1280px;
$sm: 768px;
$xs: 360px;

$lightBeige: #fafafa;
$white: #fff;
$black: #331a2f;
$blackViolet: rgba(51, 26, 47, 0.8);
$rose: #cf51ce;
$grayBlue: #54618e;
$darkViolet: rgba(51, 26, 47, 0.5);
